<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keshu.myshopingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".seller_profile" />
        <activity android:name=".admin_profile" />
        <activity
            android:name=".show_sellers"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".show_buyer"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".show_admins"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".add_prduct" />
        <activity android:name=".product_view" />
        <activity
            android:name=".buyer"
            android:label="@string/title_activity_buyer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".buyer_product_view" />
        <activity
            android:name=".search_product"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".buyer_profile" />
        <activity android:name=".view_order_buyer" />
        <activity android:name=".order_buyer" />
        <activity android:name=".wishlist_view" />
        <activity android:name=".wish_list" />
        <activity android:name=".cart_list" />
        <activity android:name=".active_order" />
        <activity android:name=".all_orders"></activity>
    </application>

</manifest>